.container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.img {
  height: auto !important;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
  &.hide {
    opacity: 0;
  }
}