.container {
  width: 920px;
  height: 100%;
  display: flex;
  position: relative;
  margin: 50px auto;
}

.img {
  height: auto !important;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  &.hide {
    opacity: 0;
  }
}